<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">     
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu</li>
        <li routerLinkActive="active">
          <a routerLink="transicao-penal">
            <i class="fa fa-book"></i> <span>Transicao Penal</span>
          </a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="relatorio">
              <i class="fa fa-money"></i> <span>Relatório</span>
            </a>
          </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
